
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100dvh;
    width: 100%;
}

a{
	color: #0077CC;
}

.container{
	height: 100%;
	width: 100%;
	padding: 2rem;
}

.name{
	font-weight: bolder;
}
