.container .blog-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.container .blog-list .blog {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.container .blog-list .blog .date-and-time {
	display: flex;
	gap: 0.5rem;
}

.container .blog-list .blog span:nth-child(2) {
	padding: 0.2rem;
	padding-left: 0.4rem;
	padding-right: 0.4rem;
	border-radius: 0.5rem;
	border: 0.5px solid #c0c0c0;
	font-size: 13px;
} 
