@import url("/styles/global.css");

.container .header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container .header .date-and-tag span {
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid #c0c0c0;
  font-size: 16px;
  display: none;
  height: fit-content;
}
