.container header .links .page-links a:nth-child(2) {
    background-color: #ff6600;
}

.container main .blog-list a {
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    transition: 0.6s ease-in-out;
}

.container main .blog-list a:hover {
    background-color: #ff6600;
}

.container main .blog-list a {
    font-weight: bold;
}

.container .blog-list .blog span {
    font-size: 13.5px;
    color: #666666;
}