.container .blog-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.container .blog-list .blog {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.container .blog-list .blog span p {
	padding: 0.2rem;
	border-radius: 0.5rem;
	border: 0.1rem solid black;
} 
