nav a {
    padding-bottom: 0px;
}

.container .header {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

}

.container #content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
