@import url("/styles/global.css");

.container .blog-list .blog {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container .blog-list .blog span:nth-child(2) {
	padding: 0.2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	border: 0.5px solid #c0c0c0;
	font-size: 13px;
} 
