main .blog .blog-list a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

main .blog .blog-list a p {
    font-weight: 500;
}

main a span {
    font-size: 13px;
    color: #696969;
}