.container .back a {
    color: black;
    font-weight: bold;
}

.container .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.container #content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}