@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  width: 100vw;
  min-height: 100dvh;
  background-color: #f6f6ef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

h2 {
  line-height: 1;
}

ul {
  list-style-position: inside;
}

pre {
  white-space: pre-wrap;
  /* Preserve formatting but allow wrapping */
  word-wrap: break-word;
  /* Break long words if needed */
  overflow-wrap: break-word;
  /* For modern browsers */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.container header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.container header .links {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.container header .links .page-links,
.container header .links .social-links {
  display: flex;
  gap: 1rem;
}

.container header .links .page-links a {
  color: black;
  font-weight: bold;
  transition: 0.6s ease-in-out;
}

.container header .links .page-links a:hover {
  background-color: #ff6600;
}

.container main .list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

footer {
  width: 100%;
  background-color: #e0e0e0;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

@media (min-width: 1000px) {
  .container {
    width: 50%;
  }
}