@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  min-height: 100dvh;
  justify-content: space-between;
}

ul {
  margin: 1em 0;
  padding-left: 1rem;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.container .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container .back a {
  font-weight: bold;
}

footer {
  align-self: flex-end;
  background-color: rgb(240, 240, 240);
  font-size: 16px;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

@media (min-width: 1000px) {
  .container {
    width: 50%;
  }

  footer {
    font-size: 18px;
    padding: 0.8rem;
  }
}
