* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px) {
  .container {
    width: 50%;
  }
}