* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.container .list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (min-width: 1000px) {
  .container {
    width: 50%;
  }
}