.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container header .socials {
  display: flex;
  gap: 0.5rem;
}

.container .about, .project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}