.container header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container header .bio {
  display: flex;
  gap: 0.5rem;
}

.container header .bio .age {
	width: 7.2rem;
}

.container header nav {
  display: flex;
  gap: 0.5rem;
}
