main .about {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

main .about .bio {
  font-weight: 500;
  display: flex;
}

main .about .bio .age {
  width: 6.9rem;
}

main .about .social-links {
  display: flex;
  gap: 0.6rem;
}

main .about .social-links a i {
  font-size: 1.3rem;
}

main .about .social-links a {
  color: black;
}

main .about .description {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  gap: 0.6rem;
}