@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  line-height: 1;
}

a {
  font-weight: bold;
}

.container {
  height: 100%;
  width: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav{
  background-color: #d4d4d4;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.container .nav a{
  color: black;
  text-transform: uppercase;
}

.container .about .pulse-and-age {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 0.4rem;
}

.container .about .pulse-and-age .pulse {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
}

.container .about .pulse-and-age .age {
  font-weight: bold;
}

.container .about .social-links {
  display: flex;
  gap: 0.8rem;
}

.container .about .description {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  gap: 0.4rem;
}

.container .project .project-list {
  display: flex;
  flex-direction: column;
  margin-top: 0.8rem;
  gap: 0.4rem;
}

.alive {
  background-color: green;
  box-shadow: 0px 0px 3px green;
  animation: pulsate 1s infinite;
}

.dead {
  background-color: red;
  box-shadow: none;
  animation: none;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 50%;
  }
}
