main .about {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

main .about .bio {
  font-weight: 500;
}

main .about .social-links {
  display: flex;
  gap: 0.6rem;
}

main .about .social-links a i {
  font-size: 1.1rem;
}

main .about .social-links a {
  color: black;
}

main .about .description {
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
  gap: 0.3rem;
}